.content {
    padding: 40px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .selectControl {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .curtainBlocked {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
    }

    .controlPanel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ;
    }
}