.content {
    padding: 40px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .selectControl {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
    }



    .curtainBlocked {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
    }

    .controlPanel {
        margin: 10px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    .content {

        .controlPanel {
            align-items: flex-start;
        }

        .selectControl {
            flex-direction: row;

        }
    }
}