.voiceControl {
    margin: 3px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
        margin-right: 15px;
        color: rgb(173, 173, 173);
    }

    select {
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border-radius: 4px;
        background-color: rgb(180, 180, 180);
    }

    option {
        padding: 20px;
        background-color: rgb(180, 180, 180);
    }

    option:focus {
        background-color: rgb(102, 102, 102);
    }
}

@media screen and (min-width: 1200px) {
    .voiceControl {
        margin: -14px 0 0 15px;
    }
}